/* LIBRERIA PARA EL MAPA */
@import "leaflet/dist/leaflet.css";

/* MODO CLARO */
:root {
  --bg-color: #f8f9fa;
  --text-color: #212529;
}

/* MODO OSCURO */
body.dark-mode {
  --bg-color: #c5c5c5d5;   /* GRIS CLARO */
  --text-color: #1a1a1a; /* TEXTO OSCURO */
}

/* FONDO Y TEXTO */
body {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  transition: background-color .3s, color .3s;
}